<div class="container">
  <h1>Thêm Sản Phẩm</h1>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Tên Sản Phẩm</mat-label>
      <input matInput formControlName="name" placeholder="Nhập tên sản phẩm">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mô Tả</mat-label>
      <input matInput formControlName="description" placeholder="Mô tả sản phẩm">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Giá</mat-label>
      <input matInput type="number" formControlName="price" placeholder="Nhập giá sản phẩm">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Số Lượng</mat-label>
      <input matInput type="number" formControlName="stock" placeholder="Nhập số lượng">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Thêm Sản Phẩm</button>
  </form>
</div>
